<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<div th:fragment="contact_form_fragment(contact)">
    <div class="form_wrapper">
        <form class="contact_form" th:object="${contact}" name="form">
            <div th:if="${contact.id} != null">
                <label for="id">Id</label><br>
                <input id="id" type="text" th:value="${contact.id}" th:name="id" readonly>
            </div>
            <label for="first_name">First name</label><br>
            <input type="text" id="first_name" placeholder="John" th:name="firstName"
                   th:value="${contact.firstName}" required>
            <br>
            <label for="last_name">Last name</label><br>
            <input type="text" id="last_name" placeholder="Doe" th:name="lastName" th:value="${contact.lastName}"
                   required>
            <br>
            <label for="email">Email</label><br>
            <input type="email" id="email" placeholder="johndoe@example.com" th:name="email" th:value="${contact.email}" required>
            <br>
            <label for="phone">Phone</label><br>
            <input type="tel" id="phone" placeholder="+x(xxx)-xxx-xxxx" th:name="phone" th:value="${contact.phone}"
                   pattern="\+?[0-9]{1,2}-?\(?[0-9]{3}\)?-?[0-9]{3}-?[0-9]{4}"
                   required><br><br>
            <button class="save_task" type="submit" th:formaction="@{/contacts/save}" th:formmethod="POST"
                    content="application/x-www-form-urlencoded">Save
            </button>
            <button class="update_task" type="submit" th:formaction="@{/contacts/edit}"
                    th:formmethod="POST">Update
            </button>
            <a href="/"><button class="cancel" type="button">Cancel</button></a>
        </form>
    </div>
</div>